<p class="crosspost" style="text-align: right; font-size: 80%;">
[<a href="<MTEntryLink>">Cross-posted</a> from my
  <a href="<MTBlogURL>">MovableType Blog</a>]
</p>

<MTIfNonEmpty tag="EntryBody">
        <div class="crosspostBody">
            <$MTEntryBody$>
        </div>
</MTIfNonEmpty>
<MTIfNonEmpty tag="EntryMore" convert_breaks="0">
    <LJCut>
        <div id="more" class="crosspostMore">
            <$MTEntryMore$>
        </div>
    </LJCut>
</MTIfNonEmpty>
